* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.4s;
}
body {
  width: 80%;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(41, 2, 78);
}
.logo {
  width: 90px;
}
ul li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}
ul li a {
  font-size: 20px;
  color: white;
}
ul li a:hover {
  color: red;
}
.icons {
  margin-right: 20px;
}
.hero {
  background-image: url(../images/image3.jpg);
  background-repeat: no-repeat;
  height: 400px;
  background-size: cover;
  text-align: center;
  background-position: fixed;
}
.hero h1 {
  font-size: 4rem;
  padding-top: 100px;
  color: red;
}
.hero p {
  font-size: 2rem;
  padding-bottom: 15px;
  color: rgb(41, 2, 78);
}
button {
  background-color: red;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
button:hover {
  font-size: 1rem;
  background-color: rgb(41, 2, 78);
}
.container {
  padding-top: 15px;
  background-color: rgb(41, 2, 78);
  color: red;
  text-align: center;
}
label {
  width: 500px;
  display: inline-block;
  text-align: center;
}
form {
  margin: auto;
  border: 2px solid red;
  padding: 20px 0px;
  width: 500px;
  border-radius: 20px;
}

textarea {
  border-radius: 10px;
  padding: 10px 0px 0px 10px;
}
#sub {
  cursor: pointer;
  background-color: rgb(41, 2, 78);
  color: red;
  border-radius: 5px;
  padding: 5px;
  font-size: large;
}
/* add media queries to make the page responsive */
@media (max-width: 686px) {
  ul li {
    display: none;
  }
}
@media (min-width: 685px) {
  .icons {
    display: none;
  }
}
